@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');

:root {
    --fontetitulo: 'Bodoni Moda', serif;
    --fontecorpo: 'Open Sans', sans-serif;

    --cor01: #032854;
    --cor02: #1655A1;
    --cor03: #A16800;
    --cor04: #F0EAD6;
    --cor05: #040504;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor04);
    font-family: var(--fontecorpo);
}

header {
    background-color: var(--cor01);
    color: white;
    font-family: var(--fontetitulo);
    text-align: center;
    min-height: 170px;

}
header > h1 {
    font-size: 2.8em;
    padding: 50px;
}
/*
div.busca {
    background-color: var(--cor01);
    border-radius: 10px;
    width: 300px;
    height: 32px; 
    margin-left: 40px; 
    margin-bottom: -22px;  
}
#txtBusca {
    float: left;
    background-color: white;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 31px;
    width: 191px;
}
#btnBusca {
    border: none;
    float: left;
    height: 31px;
    border-radius: 0 7px 7px 0;
    border-left: solid 1px black;
    width: 72px;
    font-weight: bold;
    background-color: white;
}
#btnBusca:hover {
    text-decoration: underline;
}
#btnBusca:active {
    font-weight: bold;
}
.busca img {
    height: 31px;
    float: left;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}
*/
nav {
    background-color: var(--cor01);
    text-align: center;
    height: 30px;

}
nav > a {
    color: var(--cor04);
    padding: 15px;
    text-decoration: none;
}
nav > a:hover {
    color: var(--cor03);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1100px;
    min-height: 800px;
    margin: auto;
    color: var(--cor05);
    text-align: justify;
    padding-right: 50px;
}

div.txt {
    font-family: var(--fontecorpo);
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    padding: 30px 100px;
}

div.links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
div.box {
    margin: 20px;
    max-width: 300px;
}
div.box > a {
    text-decoration: none;
    color: var(--cor05);
}
div.box > a:hover {
    text-decoration: underline;
}
div.box > a > img {
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.253);
}
div.box > a > h3 {
    font-family: var(--fontetitulo);
    font-weight: 800;
    font-size: 1.2em;
}
div.box > a > p {
    font-family: var(--fontecorpo);
    font-size: 0.9em;
    font-weight: 400;
    text-align: justify;
}

footer {
    background-color: var(--cor05);
    text-align: center;
    min-height: 35px;
}
footer > p {
    color: var(--cor04);
    padding: 5px;
}
footer > p > a {
    color: var(--cor04);
    text-decoration: none;
    font-weight: bold;
}
footer > p > a:hover {
    color: var(--cor03);
}

/*Páginas secundárias*/

div.receita {
    margin-left: 80px;
}
.receita > p {
    font-weight: 400;
    padding: 5px 10px;
    max-width: 1000px;
    text-indent: 40px;
}
h2 {
    font-family: var(--fontetitulo);
    font-weight: 800;
    padding: 20px;
}

.ingredientes, .preparo > h4 {
    padding: 10px;
    font-weight: 600;
}
.ingredientes > ul {
    list-style-type: square;
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 400;
}
.ingredientes > ul > li {
    padding: 5px;
}

.preparo > p {
    font-weight: 400;
    padding: 5px 30px;
}

.foto {
    padding: 40px;
    display: flex;
    justify-content: center;
}